profiles {
    standard {
        process {
            executor = 'slurm'
            queue = 'hci-shared-rw'
            clusterOptions = '--account=hci-rw'
            time = 12.h
            cache = 'lenient'
            errorStrategy = { task.attempt < 3 ? 'retry' : 'finish' }
            scratch = '/scratch/general/pe-nfs1/u0806040/tmp'
        }   
    }
}

timeline {
    enabled = true
    file = "${params.outdir}/logs/timeline.html"
}
report {
    enabled = true
    file = "${params.outdir}/logs/report.html"
}
trace {
    enabled = true
    file = "${params.outdir}/logs/trace.txt"
}
