params.logdir = './'

profiles {
    standard {
        process {
            executor = 'slurm'
            queue = 'hci-shared-rw'
            clusterOptions = '--account=hci-rw'
            time = 3.h
            cache = 'lenient'
            errorStrategy = { task.attempt < 3 ? 'retry' : 'finish' }
            scratch = '/scratch/general/pe-nfs1/u0806040/tmp'
            withName: star {
                time = 2.h
                cpus = 12
                memory = 32.GB
            }
            withName: index {
                time = 1.h
                cpus = 1
                memory = 8.GB
            }
            withName: rsem {
                time = 1.h
                cpus = 8
                memory = 8.GB
            }
        }   
    }
}

timeline {
    enabled = true
    file = "${params.logdir}/logs/timeline.html"
}
report {
    enabled = true
    file = "${params.logdir}/logs/report.html"
}
trace {
    enabled = true
    file = "${params.logdir}/logs/trace.txt"
}
